*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif Arial, Helvetica, sans-serif;
    font-size: 19px;    
    display: flex;
    flex-direction: column;
    justify-content: center;    
    min-height: 100vh;
    margin: 0;
    
}
header
{
    background-color: black;
    height: 90px;
    display: flex;
    border: 3px solid green;
    margin-bottom: 45px;
}
.header-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 0 17px 17px 0;
}
.header-content img
{
    width: 30px;

}
.header-content #login-header
{
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: whitesmoke;
    padding: 1px 15px;
    border-radius: 0px 17px 17px 0px;
    margin-bottom: 7px;
}


.container
{
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
    text-align: center;*/
}
.card
{
    border-radius: 10px;
    display: flex;    
    flex-direction: column;
    justify-content: center;   
    box-shadow: 0px 0px 19px green;
    padding: 39px;
    width: 400px;
    height: 499px;   
    margin-top: 5px;
    margin: auto;
    border: 1px solid green;
    line-height: 2;
    margin-bottom: 30px;
    
}
.sign-in h2
{
   
    text-align: center;
    font-style: italic;
    color: green;
    margin-bottom: 40px;    
  
}
form
{
    display: flex;
    flex-direction: column;
}
form label
{
    margin-bottom: px;
    display: block;
    text-align: center;
    font-weight: 700; 
      
}
form input
{
    padding: 9px;
    border-radius: 5px;
    border: 1px solid;    
}
input:focus 

{
   outline: none;
   border: 1px solid;
   border-color: green;

}

.remember-forgot

{
    display: flex;
    justify-content: space-between; 
    font-size: 15px;
    margin-top: 11px;
    margin-bottom: 15px;
}

.remember-forgot a
{
    color: rgb(75, 75, 230);
    text-decoration: none;
}

.remember-forgot a:hover 
{
    text-decoration: underline;
    color: green;
}


#log-in
{
    display: block;
    margin: auto;
    width: 190px;
    background-color: green;
    padding: 6px 12px;
    border-radius: 6px;   
    color: white;
    font-weight: 900;    
}

#log-in:hover
{
    background-color: black;   
    border-color: gray;
}
p
{
    text-align: center;
}

p a
{
    text-decoration: none;
    color: rgb(75,75,230);
    font-size: 15px;
    padding: 3px;
}

p a:hover 
{
    background-color: rgb(75, 75, 230);
    color: white;
    border-radius: 3px;
}

.footer-container
{
    background-color: black;
    display: flex;    
    flex-direction: column;          
    text-align: center;  
     
}
.footer-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
}
.footer-row
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 90px;
    color: white;
}
.footer-item img
{
    display: block;
    width: 89px;
    margin: auto;
}


.footer-item ul
{
    list-style: none;
    padding: 0;
}

.footer-item ul li
{
    display: block;
    font-size: 14px;
}

.footer-item ul li a
{
    text-decoration: none;
    color: black;
    line-height: 1.5;
    color: white;
}
.footer-item ul li a:hover 
{
    color: white;
    text-decoration: underline;
    border-color: black;
    border: 1px solid white;
    padding: 3px 6px;
    background-color: black;
    border-radius: 9px;
    background-color: green;
}
h4
{
 font-weight: bolder;
 font-size: 19px;
 text-decoration: underline;
 margin-top: 12px;
 margin-bottom: 2px;
}
#email,
#whatsapp,
#calls
{
    font-style: italic;
    color: black;
    font-weight: 700;
    color: green;
}


#copyright
{
    font-size: 15px;
    font-style: italic;
    text-align: center;
    color: white;
}
.main-footer
{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 50px;
}
.footer-text
{
    font-size: 19px;
    color: #eff0ea;
    margin-left: 10px;
    margin-top: 10px;

}

#name
{
    
    font-weight: 700;
    color: green;    
    font-size: 18px;    
}

.footer-image-container
{
    display: flex;
    align-items: center;    
}

.footer-image-container img
{
    margin-left: 10px;
    width: 70px;
    border-radius: 5px;
    margin-right: 12px;   
}

@media screen and (max-width:850px) 
{

    body 
    {
        font-size: 15px;

    }


    .remember-forgot

    {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: -2px;
    }

    .sign-in h2
    {
        margin-bottom: 0;
    }

    .card
    {
        padding: 70px;
        height: 370px;
        width: 315px;
    }

    #log-in
    {
        width: 80px;
    }

    .footer-container
    {
        display: block;
        height: 290px;
    }
    h4 
    {
        display: none;
    }
    #contact
    {
        display: none;
    }
    .footer-row
    {
        display: block;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
    }
    .footer-container
    {
        height: fit-content;
    }
    #name
    {
        font-size: 14px;
    }
    .footer-image-container img
    {
    margin-left: 10px;
    width: 40px;
    border-radius: 5px;
    margin-right: 12px;
    }
    
}





